.DS_Store
Thumbs.db
.remote-sync.json

client_secret.json
foo.php
HelloAnalytics.php
oauth2callback.php
test-api*.php
wp-config.php
/vendor
/node_modules

error_log
*.log
*.zip
*.gz
/wp-content/uploads
/wp-content/upgrade
