// compileCompressed: ../../public/css/$1.css

@import "../vendor/bootstrap/scss/bootstrap.scss";


/*
 * Import additional stylesheets
 */

@import "./_reset.scss";
@import "./_code.scss";
@import "./_utilities.scss";


// *[role="button"],
// .btn {
//   &:not(.btn-link) {
//     &:focus,
//     &:active {
//       box-shadow: 0 0 3px rgba(0, 0, 0, 1);
//     }
//   }
// }

body {
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}


#headerSection {
  .header-body {
    > .container {
      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
      }

      > .row {
        height: $navbar-height;
      }
    }
  }
}


/* Menus */
#menuMain {
  @extend .text-white;
  @extend .bg-primary;

  @include media-breakpoint-down(md) {
    font-size: $font-size-base * 1.15;
  }

  .btn {
    @include media-breakpoint-down(md) {
      font-size: $font-size-base * 1.15;

      &.menu-link {
        font-size: $font-size-base * 1.15;
      }
      &.submenu-link {
        font-size: $font-size-base * 1.15;
      }
    }
  }

  .box-left,
  .box-right {
    .btn {
      box-shadow: none !important;
      border: none;
      @extend .rounded-0;
    }

    .menu-link {
      display: block !important;
      @extend .text-white;
    }

    .submenu-link {
      display: block !important;
    }
  }

  .box-left {
    .menu-item {
      .menu-link,
      .submenu-link {
        text-align: left;
        padding-left: map-get($spacers, 3);
        padding-right: map-get($spacers, 3);
      }

      .menu-link {
        padding-top: .875rem;
        padding-bottom: .875rem;

        &:hover {
          @extend .btn-success;
        }

        &.active {
          @extend .bg-success;
        }
      }

      &:hover {
        .menu-link {
          @extend .btn-success;
        }
      }
    }

    .dropdown {
      &.show,
      &:hover {
        .dropdown-menu {
          top: 100% !important;
          margin-top: 0 !important;
          transform: none !important;
        }
      }
    }

    .dropdown-menu {
      border-radius: 0;
      border-color: $light;
      background-color: $light;
      // top: 100% !important;
      // margin-top: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;

      @include media-breakpoint-up(md) {
        font-size: $font-size-base * .875;
      }

      @include media-breakpoint-down(md) {
        position: relative !important;
        transform: none !important;
        width: 100%;
      }

      .dropdown-title {
        padding-left: map-get($spacers, 3);
        padding-right: map-get($spacers, 3);
        margin-top: map-get($spacers, 2);
        margin-bottom: map-get($spacers, 1);
      }

      > .submenu-link {
        color: $dark;

        @include media-breakpoint-up(md) {
          font-size: $font-size-base * .875;
        }

        &:hover {
          background-color: theme-color-level(light, 1) !important;
        }
      }

      > .divider {
        background-color: theme-color-level(light, 1) !important;
      }
    }

    .dropdown {
      .dropdown-menu {
        display: none !important;
      }

      &:hover {
        .dropdown-menu {
          display: block !important;
        }
      }

      > *[data-toggle="dropdown"] {
        .fa-caret-down {
          display: inline-block;
        }
        .fa-caret-up {
          display: none;
        }
      }

      &.show,
      &:hover {
        > *[data-toggle="dropdown"] {
          .fa-caret-down {
            display: none;
          }
          .fa-caret-up {
            display: inline-block;
          }
        }
      }
    }
  }

  .btn-user-signin {
    color: $white;
    border: solid $border-width transparent !important;

    &:hover {
      color: $success !important;
      border-color: theme-color-level(success, 1) !important;
    }
  }
}


/* Offcanvas menu */
.offcanvas-collapse {
  .offcanvas-header {
    border-bottom: solid 1px theme-color-level(dark, -1);
  }

  .offcanvas-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

    @extend .d-md-none;
    @extend .h5;
    @extend .text-white;
    @extend .p-3;
  }

  .offcanvas-btn-close {
    border-radius: 0;
    border: none;
    height: 100%;
    color: $light;
    @extend .btn;
    @extend .btn-link;
    @extend .py-3;

    &:hover {
      color: $white;
    }
  }

  .offcanvas-body {

  }

  .socials {
    padding-left: map-get($spacers, 3);
    padding-right: map-get($spacers, 3);

    .btn {
      color: $white;

      &:hover {
        .fab {
          color: $success;
        }
      }
    }
  }

  .contact-info {
    padding-left: map-get($spacers, 3);
    padding-right: map-get($spacers, 3);

    .item {
      @extend .d-flex;
      @extend .justify-content-between;
      margin-bottom: map-get($spacers, 3);
    }
  }

  @include media-breakpoint-down(md) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    z-index: $zindex-fixed;

    &.open {
      left: 0;
      visibility: visible;
    }
  }
}


.nav-scroller {
  position: relative;
  // z-index: 1;
  height: 2.75rem;
  overflow-y: hidden;

  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}


/*
 * Homepage carousel
 *
 */

#carouselHomepage {
  .carousel-inner {
    .carousel-item {
      height: 66vh;
    }
  }
}

// /*
//  * Header stylesheets
//  */
//
// #header-section {
//   .header {
//
//   }
//
//   .header-mobile {
//     img {
//       width: auto;
//       max-height: 60px;
//       margin-bottom: 0;
//     }
//   }
// }
//
// /*
//  * Homepage slider
//  *
//  */
//
// #homepageSlide {
//   .carousel-indicators {
//     li {
//       width: 14px;
//       height: 14px;
//       border-radius: 1em 1em;
//     }
//
//     @include media-breakpoint-up(md) {
//       display: none;
//     }
//   }
//
//   .carousel-control {
//     @include media-breakpoint-down(md) {
//       display: none;
//     }
//   }
// }
//
// /*
//  * Topbar stylesheets
//  */
//
// .topbar {
//   .menu-topbar,
//   .tools-topbar {
//     .btn {
//       line-height: $topbar-height;
//
//       border: none;
//       border-radius: 0;
//
//       &.btn-hilight {
//         background-color: $light;
//         color: $secondary;
//
//         &:hover {
//           background-color: $warning;
//           color: $secondary;
//         }
//       }
//     }
//   }
// }
