// main: ./app.scss


/*
 * Properties ordering
 *
 * 1. Positioning
 * position: absolute;
 * top: 0;
 * right: 0;
 * bottom: 0;
 * left: 0;
 * z-index: 100;
 *
 * 2. Box model
 * display: block;
 * float: right;
 * width: 100px;
 * height: 100px;
 *
 * 3. Typographic
 * font: normal 13px "Helvetica Neue", sans-serif;
 * line-height: 1.5;
 * color: #333;
 * text-align: center;
 *
 * 4. Visual
 * background-color: #f5f5f5;
 * border: 1px solid #e5e5e5;
 * border-radius: 3px;

 * Misc.
 * opacity: 1;
 */


/* Clear Firefox button outline. */
input,
button {
  &::-moz-focus-inner {
    border: 0;

    padding: 0;
  }
}


/* Helper classes */
@each $breakpoint in map-keys($grid-breakpoints) {
  .d-only-#{$breakpoint}-none {
    @include media-breakpoint-only($breakpoint, $grid-breakpoints) {
      display: none !important;
    }
  }

  .d-only-#{$breakpoint}-block {
    @include media-breakpoint-only($breakpoint, $grid-breakpoints) {
      display: block !important;
    }
  }

  .d-only-#{$breakpoint}-inline-block {
    @include media-breakpoint-only($breakpoint, $grid-breakpoints) {
      display: inline-block !important;
    }
  }

  .d-only-#{$breakpoint}-inline {
    @include media-breakpoint-only($breakpoint, $grid-breakpoints) {
      display: inline !important;
    }
  }

  .visible-#{$breakpoint} {
    @include media-breakpoint-up($breakpoint) {
      visibility: visible !important;
    }
  }
  .invisible-#{$breakpoint} {
    @include media-breakpoint-up($breakpoint) {
      visibility: hidden !important;
    }
  }
}
