// compileCompressed: ../../public/css/$1.css

@import "../vendor/bootstrap/scss/bootstrap.scss";


/*
 * Import additional stylesheets
 */

@import "./_reset.scss";
@import "./_code.scss";
@import "./_utilities.scss";


#headerSection {
  .header-body {
    > .container {
      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
      }

      > .row {
        height: $navbar-height;
      }
    }
  }
}


/* Menus */
#menuMain {
  @extend .text-white;
  @extend .bg-primary;

  .box-left,
  .box-right {
    .btn {
      border-color: transparent;
      @extend .text-white;
      @extend .rounded-0;
    }
  }

  .box-left {
    .menu-item {
      .btn {
        text-align: left;
        padding-top: .875rem;
        padding-bottom: .875rem;
        @extend .btn-block;

        &:hover {
          @extend .btn-success;
        }

        &.active {
          @extend .bg-success;
        }
      }
    }
  }

  .btn-user-signin {
    &:hover {
      color: $success !important;
      border-color: $success;
    }
  }
}


/* Offcanvas menu */
.offcanvas-collapse {
  .offcanvas-header {
    border-bottom: solid 1px theme-color-level(dark, -1);
  }

  .offcanvas-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

    @extend .d-md-none;
    @extend .h5;
    @extend .text-white;
    @extend .p-3;
  }

  .offcanvas-btn-close {
    border-radius: 0;
    border: none;
    height: 100%;
    color: $light;
    @extend .btn;
    @extend .btn-link;
    @extend .py-3;

    &:hover {
      color: $white;
    }
  }

  .offcanvas-body {

  }

  @include media-breakpoint-down(md) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    z-index: $zindex-fixed;

    &.open {
      left: 0;
      visibility: visible;
    }
  }
}


.nav-scroller {
  position: relative;
  // z-index: 1;
  height: 2.75rem;
  overflow-y: hidden;

  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}


/*
 * Homepage carousel
 *
 */

#carouselHomepage {
  .carousel-inner {
    .carousel-item {
      height: 66vh;
    }
  }
}

// /*
//  * Header stylesheets
//  */
//
// #header-section {
//   .header {
//
//   }
//
//   .header-mobile {
//     img {
//       width: auto;
//       max-height: 60px;
//       margin-bottom: 0;
//     }
//   }
// }
//
// /*
//  * Homepage slider
//  *
//  */
//
// #homepageSlide {
//   .carousel-indicators {
//     li {
//       width: 14px;
//       height: 14px;
//       border-radius: 1em 1em;
//     }
//
//     @include media-breakpoint-up(md) {
//       display: none;
//     }
//   }
//
//   .carousel-control {
//     @include media-breakpoint-down(md) {
//       display: none;
//     }
//   }
// }
//
// /*
//  * Topbar stylesheets
//  */
//
// .topbar {
//   .menu-topbar,
//   .tools-topbar {
//     .btn {
//       line-height: $topbar-height;
//
//       border: none;
//       border-radius: 0;
//
//       &.btn-hilight {
//         background-color: $light;
//         color: $secondary;
//
//         &:hover {
//           background-color: $warning;
//           color: $secondary;
//         }
//       }
//     }
//   }
// }
